

.banner-area{
// position: relative;
height: 100vh;
// .slick-arrow {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     background-color: red;
//     border: none;
//     z-index: 2;
//     i{
//         font-size: 20px;
//         width: 40px;
//         height: 40px;
//         border-radius: 10px;
//         line-height: 40px;
//         color: #fff;
//     }
//     &.slick-prev {
//         left: 0;
//       }
//       &.slick-next {
//         right: 0;
//       }    

//   }
// .single-banner {
//     height: 100vh;
//     color: #fff;
    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 700px;
        margin: 0 auto;
        h3 {
            font-size: 40px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;
          }
          p{
              margin: 10px 0;
              text-align: center;
              color: #fff;
          }
         .banner-btn{
             margin-top: 30px;
             a{
                margin-right: 10px;
             }
         }
          
      }
  }

  



