/* Medium Layout: 1280px. */
/* Checking Size 1000px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px;
    }
    .about{
        .about-img{
            img{
                &:nth-child(2){
                   right: -61px;
                }
            }
        }
    } 
    .footer{
        .footer-top {
            grid-template-columns: 46% 20% 30%;
        }
    } 
}

/* Tablet Layout: 768px. */
/* Checking Size 800px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container{
      width: 750px;
  }

  .header-area{
    .header {
        -ms-grid-columns: 45% 50%;
    }
  }
  .about{
    .about-img{
        img{
            &:nth-child(2){
               right: -51px;
               bottom: 110px;
            }
        }
    }
}
.team-area{
    .team {
        grid-template-columns: repeat(3, 30%);
    }   
}
.blog-area{
    .blog{
        .single-blog{
            .blog-meta{
                a{
                    font-size: 12px;
                }
            }
        }
    }
}
.footer{
    .footer-top {
        grid-template-columns: 46% 16% 30%;
        .single-footer{
            h1{
                font-size: 32px;
            }
        }
    }
} 
} 

/* Mobile Layout: 320px. */
/* Checing Point: 400px */
@media only screen and (max-width: 767px) {
  .container{
      width: 300px;
  }


.header-area{
    .header{
        grid-template-columns: auto;
        .logo{
            a{
                padding-left: 0;
                font-size: 28px;
            }
        }
        .menu{
            ul{
                justify-content: center;
                margin-top: 10px;
            }
        }
    }
}
    
.banner-area{
    .banner-content {
        width: 290px;
        h3{
            font-size: 25px;  
        }
        .banner-btn{
            a{
                margin-right: 0;
                font-size: 13px;  
            }
        }
      }
    
} 

.about-area{
    padding-bottom: 0;
    .about {
        grid-template-columns: auto;
        grid-gap: 40px;
        .about-img{
            img{
                &:nth-child(2){
                    right: -36px;  
                }
            }
        }
      }
}
.section-title{
    h4 {
        font-size: 30px;
    }
}
.team-area{
    .team{
        grid-template-columns: auto;
    }
}




.cta-bottom{
    .cta {
        flex-direction: column;
        .cta-head{
            h2{
                font-size: 30px;
                margin-bottom: 10px;
            }
        }
      }
} 
  
.blog-area{
    .blog{
        grid-template-columns: auto;
    }
}
.footer{
    .footer-top{
        grid-template-columns: auto;
        grid-gap: 20px;
    }
}
.footer{
    .footer-top{
        .single-footer{
            h1{
                font-size: 28px;
            }
        }
    }
    .footer-bottom{
        .footer-copy{
            p{
                font-size: 7px;
            }
        }
        .footer-social{
            li{
                margin: 5px;
            }
        }
    }
}

.person{
    .person-top {
        grid-template-columns: auto;
      }
      .person-bottom-photo{
          .photo{
    grid-template-columns: auto;
          }
      }
}
}



 
  
  





  

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container{
      width: 450px;
  }
  .header-area{
    .header{
        .logo{
            a{
                padding-left: 77px;
                font-size: 28px;
            }
        }
    }
}
}


  

  


 
  