.section-title {
    margin-bottom: 30px;
    text-align: center;
    span {
        font-family: 'Oleo Script', cursive;
        text-transform: lowercase;
        font-size: 17px;
        display: block;
      }
      h4 {
        font-size: 40px;
        text-transform: capitalize;
        padding: 20px 0;
        color: #333;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-color: tomato;
            width: 90px;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after{
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: tomato;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
        }
      }
  }