

.service-area{
    .services {
        display: grid;
        grid-template-columns: repeat(3,auto);
        column-gap: 30px;
        .single-service {
            text-align: center;
            padding: 10px;
            // background-color: #ddd;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            position: relative;
            &:hover{
                &::before,&::after{
                    width: 100%;
                }
            }
            &::before{
               position: absolute;
               content: "";
               width: 0;
               height: 3px;
               background-color: #e74c3c;
               left: 0;
               top: 0;
               transition: .6s;
            }
            &::after{
                position: absolute;
                content: "";
                width: 0;
                height: 3px;
                background-color: #e74c3c;
                right: 0;
                bottom: 0;
                transition: .6s;
            }
            i {
                font-size: 30px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                background-color: #333;
                border-radius: 50%;
                color: #e74c3c;
              }
              h4 {
                text-transform: capitalize;
                font-size: 25px;
                font-weight: 700;
                margin: 10px 0;
              }
              p {
                margin-bottom: 14px;
              }
              
          }
      }
}


  